.review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    // border: 2px solid wheat;
    border-radius: 15px;
    // background-color: wheat;
    margin-top: 45px;
}

.file-upload-container {
    text-align: center;
    margin-bottom: 20px;

    .file-upload-label {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 24px;
        background-color: blue;
        color: white;
        border-radius: 4px;
        transition: background-color 0.3s;

        span {
            margin-right: 8px;
        }

        mat-icon {
            font-size: 20px;
        }
    }
}

.image-preview {
    display: flex;
    justify-content: center;
    margin-top: 16px;

    .circle-image {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        overflow: hidden;
        position: relative;
        background-color: lightgray;
        box-shadow: 0 2px 4px black;

        .preview-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

mat-form-field {
    width: 100%;
    margin-top: 20px;

    mat-label {
        font-size: 16px;
    }

    mat-select,
    textarea {
        width: 100%;
        font-size: 16px;
    }
}

.close-btn {
    position: absolute;
    top: 5px;
    left: 5px;
    /* Move button to left side */
    color: red;
    background: transparent;
    border: none;
    cursor: pointer;
}

// button[type="submit"] {
//     width: auto;
//     /* Avoid full width for buttons except submit */
//     font-size: 18px;
//     margin-top: 20px;
// }

.button-row {
    display: flex;
    justify-content: flex-end;
    /* aligns buttons to the right */
    gap: 10px;
    /* space between buttons */
    margin-top: 20px;
    /* spacing from form fields */
}

button[type="submit"],
button[type="button"] {
    width: auto;
    /* prevent full width */
    font-size: 16px;
    height: 40px;
    /* make buttons equal height */
}