.mat-elevation-Z8 {
    width: 80%;
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px black;
}

.mat-header-cell {
    font-weight: bolder;
    color: blue;
    background-color: wheat;
    padding: 12px 16px;
}

.mat-cell {
    padding: 12px 16px;
    border-bottom: 1px solid #f0f0f0;
}

.mat-row:nth-child(even) {
    background-color: bisque;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.mat-progress-spinner circle {
    stroke: blue;
}

at-header-row {
    margin-top: 60px;
}

.table-heading {
    text-align: center;
    /* Center the heading */
    font-size: 2rem;
    /* Larger font size */
    font-weight: 400;
    /* Bold text */
    color: #1976d2;
    /* Primary blue color */
    margin-bottom: 20px;
    margin-top: 20px;
    /* Space below heading */
    text-transform: uppercase;
    /* Optional: uppercase letters */
    letter-spacing: 1px;
    /* Slight spacing between letters */
    // border-bottom: 3px solid #1976d2;
    /* Optional underline */
    display: inline-block;
    /* Underline fits text width */
    // padding-bottom: 5px;
    /* Space between text and underline */
}