.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
}

.coupons-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    /* space between toolbar and table */
}

.coupons-heading {
    font-size: 28px;
    font-weight: bold;
    color: #1976d2;
    margin: 0;
}

button[mat-raised-button] {
    height: 40px;
    font-weight: 600;
}

/* Table Styling */
mat-card {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px black;
}

table {
    width: 100%;
}

th.mat-header-cell {
    font-weight: bolder;
    color: blue;
    padding: 10px;
}

td.mat-cell,
td.bold-cell {
    padding: 10px;
}

td.bold-cell {
    font-weight: bold;
}

.mat-elevation-z8 {
    box-shadow: 0 4px 8px black;
}

.mat-row:hover {
    background-color: whitesmoke;
}

.mat-header-row {
    background-color: aqua;
    /* same as before */
}

.mat-paginator {
    background-color: white;
    border-radius: 0 0 10px 10px;
    margin-top: 16px;
}