/* ==============================
   ONLY AFFECT INVOICE CONTENT
   ============================== */

#invoice-content {
    width: 1125px;
    /* Fixed width avoids PDF overlap */
    margin: 0 auto;
    padding: 20px;
    background: white;
}

/* LOGO */
#invoice-content .invoice-logo {
    width: 150px;
    display: block;
    margin: 0 auto 20px 0px;
    border-radius: 67px;

}

/* ORDER INFO BOX */
#invoice-content .order-info-box {
    background: #f8f9fa;
    border-left: 5px solid #0d6efd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

/* INFO TABLE */
#invoice-content .info-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#invoice-content .info-table td {
    padding: 8px;
    font-size: 15px;
}

/* PRODUCT TABLE */
#invoice-content .product-table {
    width: 100%;
    border-collapse: collapse;
}

#invoice-content .product-table th {
    background: #212529 !important;
    color: #fff;
    padding: 10px;
    font-size: 14px;
}

#invoice-content .product-table td {
    padding: 8px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
}

/* PRODUCT IMAGE */
#invoice-content .product-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
}

.order-title {
    font-size: 26px !important;
    /* Increase size */
    font-weight: 600 !important;
    /* Extra bold */
    letter-spacing: 1px;
    color: #222;
    text-transform: uppercase;
}