<!-- <div *ngIf="cartItems.length > 0; else emptyCart">
  <div class="cart-container">
    <div class="cart-item" *ngFor="let item of cartItems">
      <div class="product-info">
       
        <img [src]="item.processedImg" alt=" product.name ">
        <div class="item-row">
            <div class="item-name" [ngClass]="{'highlight':item.highlighted}">
                {{ item.productName }}

            </div>
             <div class="item-price" >
                {{ item.productPrice | currency }}

            </div>
            <div class="quantity-controls">
                <button mat-icon-button (click)="decreaseQuantity(item.id)" >
                    <mat-icon>remove_circle_outline</mat-icon>

                </button>
                <span class="quantity">{{ item.quantity }}</span>
                 <div class="quantity-controls">
              <button mat-icon-button (click)="increaseQuantity(item.id)">

                    <mat-icon>add_circle_outline</mat-icon>

                </button>
            </div>
        </div>
      </div>
      </div>

    </div>
 

  <div class="total-price">
    Total Amount:{{order.totalAmount | currency}}
  </div>
  <div class="total-price">
    Amount:{{order.totalAmount | currency}}
  </div>

  <div class="total-price" *ngIf="order.couponName!=null">
    Coupon Applied:{{order.couponName}}
  </div>

  <div >
   <button mat-raised-button color="primary"  (click)="placeOrder()">place Order</button>
  </div>
</div>

<div class="container" *ngIf="order.couponName== null">
    <form [formGroup]="couponForm" (ngSubmit)="applyCoupon()">
      <mat-form-field class="form-field" appearance="outline">
<mat-label>Code</mat-label>
<input type="text" matInput placeholder="Code" formControlName="code"/>
<mat-error *ngIf="couponForm.get('code')?.hasError('required')">This input is required!</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Apply Coupon</button>
    </form>

</div>

</div>
    <ng-template #emptyCart>
        <div class="empty-cart">
            <mat-icon class="icon">remove_shopping_cart</mat-icon>
            <span>Nothing to see here</span>
        </div>

    </ng-template> -->



<div *ngIf="cartItems.length > 0; else emptyCart">
  <div class="cart-container">
    <div class="cart-item" *ngFor="let item of cartItems">
      <div class="product-info">
        <!-- <img [src]="item.processingImg" alt="Product Image"  /> -->
        <img [src]="item.processedImg" alt=" product.name ">
        <div class="item-row">
          <div class="item-name" [ngClass]="{'highlight':item.highlighted}">
            {{ item.productName }}

          </div>
          <div class="item-price">
            {{ item.productPrice | currency }}

          </div>
          <div class="quantity-controls">
            <button mat-icon-button (click)="decreaseQuantity(item.productId)">
              <mat-icon>remove_circle_outline</mat-icon>

            </button>
            <span class="quantity">{{ item.quantity }}</span>
            <div class="quantity-controls">
              <button mat-icon-button (click)="increaseQuantity(item.productId)">

                <mat-icon>add_circle_outline</mat-icon>

              </button>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="total-price">
      Total Amount:{{order.totalAmount | currency}}
    </div>
    <div class="total-price">
      Total Amount After Applying Coupon: {{ order.amount | currency }}
    </div>


    <div class="total-price" *ngIf="order.couponName!=null">
      Coupon Applied:{{order.couponName}}
    </div>

    <div>
      <button mat-raised-button color="primary" (click)="placeOrder()">place Order</button>
    </div>
  </div>

  <div class="container" *ngIf="order.couponName== null">
    <form [formGroup]="couponForm" (ngSubmit)="applyCoupon()">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Code</mat-label>
        <input type="text" matInput placeholder="Code" formControlName="code" />
        <mat-error *ngIf="couponForm.get('code')?.hasError('required')">This input is required!</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Apply Coupon</button>
    </form>

  </div>

</div>
<ng-template #emptyCart>
  <div class="empty-cart">
    <mat-icon class="icon">remove_shopping_cart</mat-icon>
    <span>Nothing to see here</span>
  </div>

</ng-template>