<div class="container-fluid wishlist-container">
  <!-- If products exist, show product cards -->
  <div class="row g-0 justify-content-center" *ngIf="products.length > 0; else emptyWishlist">
    <div class="col-6 col-md-4 col-lg-3" *ngFor="let product of products">
      <div class="product-card position-relative">

        <!-- Product Image -->
        <div class="product-image position-relative">
          <img [src]="product.processedImg" *ngIf="product.processedImg" alt="{{ product.productName }} Image" />

          <!-- Remove from Wishlist -->
          <mat-icon class="heart-icon wishlist-active" (click)="removeFromWishlist(product.productId)">
            favorite
          </mat-icon>
        </div>

        <!-- Product Details -->
        <div class="product-details">
          <h2>{{ product.productName }}</h2>
          <p class="description">{{ product.productDescription }}</p>
          <p class="price">₹{{ product.price }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Empty Wishlist Message -->
  <ng-template #emptyWishlist>
    <div class="empty-cart text-center py-5">
      <!-- <mat-icon class="icon" style="font-size: 60px; color:gray;">favorite</mat-icon> -->
      <div style="margin-top: 15px; font-size: 18px; color: #757575;">
        Your wishlist is empty
      </div>
    </div>
  </ng-template>


</div>