<div class="container-fluid wishlist-container">
  <div class="row g-0 justify-content-center">

    <div class="col-6 col-md-4 col-lg-3" *ngFor="let product of products">
      <div class="product-card position-relative">

        <!-- Product Image -->
        <div class="product-image position-relative">
          <img [src]="product.processedImg" *ngIf="product.processedImg" alt="{{ product.productName }} Image" />

          <!-- Remove from Wishlist -->
          <mat-icon class="heart-icon wishlist-active" (click)="removeFromWishlist(product.productId)">
            favorite
          </mat-icon>
        </div>

        <!-- Product Details -->
        <div class="product-details">
          <h2>{{ product.productName }}</h2>
          <p class="description">{{ product.productDescription }}</p>
          <p class="price">₹{{ product.price }}</p>
        </div>
      </div>
    </div>

  </div>
</div>