<div class="receipt-list-container">

    <div class="header-section">
        <h2>Receipts</h2>
        <button class="add-btn" routerLink="/receipt/new">+ Add Receipt</button>
    </div>

    <div class="table-wrapper">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Customer ID</th>
                    <th>Party Name</th>
                    <th>Type</th>
                    <th>Mode</th>
                    <th>Txn ID</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let r of paginatedReceipts">
                    <td>{{ r.id }}</td>

                    <td>
                        <img *ngIf="r.receiptImage" [src]="r.receiptImage" class="receipt-img" />
                    </td>

                    <td>{{ r.customerId }}</td>

                    <td>{{ r.partyName ? r.partyName : r.partyType }}</td>

                    <td>{{ r.transactionType == 1 ? 'Receipt' : 'Payment' }}</td>

                    <td>
                        {{
                        r.paymentMode === 0 ? 'Cash' :
                        r.paymentMode === 1 ? 'UPI' :
                        r.paymentMode === 2 ? 'Bank' :
                        r.paymentMode === 3 ? 'Card' : '-'
                        }}
                    </td>

                    <td>{{ r.transactionId }}</td>
                    <td>{{ r.amount }}</td>
                    <td>{{ r.receiptDate }}</td>

                    <td>
                        <button class="edit-btn" routerLink="/receipt/edit/{{r.id}}">Edit</button>
                        <button class="delete-btn" (click)="delete(r.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- PAGINATION -->
    <div class="pagination-container">
        <button (click)="prevPage()" [disabled]="page === 1">◀ Prev</button>

        <span>Page {{ page }} / {{ totalPages }}</span>

        <button (click)="nextPage()" [disabled]="page === totalPages">Next ▶</button>
    </div>

</div>